PROJECT_NAME="API Catálogo de Vinos y Licores"
API_V1_STR="/api/v1"

# Base de datos MySQL
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=bomech_db

# CORS
BACKEND_CORS_ORIGINS=["http://localhost:5173", "http://127.0.0.1:5173"]
